In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./all_data_merged.csv')
df

,Unnamed: 0,country,continent,year,happiness,democracy_score,index_of_functioning_goverment,code,population,women_in_parliament_%,daily_income_usd,income_inequlity
0,0,Algeria,Africa,2005,NaN,NaN,NaN,DZA,33149720.0,8.96,7.01,30.3
1,1,Turkey,Asia,2005,47.2,NaN,NaN,TUR,67903461.0,7.21,12.70,42.6
2,2,Benin,Africa,2005,NaN,NaN,NaN,BEN,7982223.0,9.04,2.53,39.7
3,3,Botswana,Africa,2005,NaN,NaN,NaN,BWA,1799077.0,10.50,9.25,62.9
4,4,Burundi,Africa,2005,NaN,NaN,NaN,BDI,7364857.0,31.70,1.49,34.4
...,...,...,...,...,...,...,...,...,...,...,...,...
48975,48975,Holy See,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
48976,48976,Holy See,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
48977,48977,Holy See,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
48978,48978,Holy See,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
48979,48979,Liechtenstein,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0

In [3]:
df['country'].unique()

array(['Algeria', 'Turkey', 'Benin', 'Botswana', 'Burundi', 'Cameroon',
       'Central African Republic', 'Kenya', 'Chad', 'Djibouti', 'Egypt',
       'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Comoros', 'Liberia',
       'South Sudan', 'Libya', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia',
       'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somalia',
       'South Africa', 'Guinea', 'Sudan', 'Angola', 'Nepal', 'Tunisia',
       'Uganda', 'Zambia', 'Zimbabwe', 'Japan', 'Bahrain', 'Bangladesh',
       'Afghanistan', 'Cambodia', 'China', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Bhutan', 'Togo', 'Thailand', 'Israel', 'Jordan',
       'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Tanzania', 'Oman',
       'Kazakhstan', 'Pakistan', 'Qatar', 'Saudi Arabia', 'Singapore',
       'Sri Lanka', 'Syria', 'Tajikistan', 'Philippines', 'Kuwait',
       'Portugal', 'Lesotho', 'Nicaragua', 'Vietnam', 'Yemen', 'Albania',
       'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Poland', 'Uzbekistan', 'Romania',
       'Estonia', 'France', 'Turkmenistan', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Georgia', 'Latvia', 'Luxembourg',
       'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'Norway',
       'Lithuania', 'Finland', 'Serbia', 'Germany', 'Belize', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom', 'Slovenia', 'Canada',
       'Mexico', 'Costa Rica', 'Dominican Republic', 'El Salvador',
       'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Cuba', 'Panama',
       'Spain', 'Trinidad and Tobago', 'United States', 'Australia',
       'New Zealand', 'Argentina', 'Bolivia', 'United Arab Emirates',
       'Chile', 'Colombia', 'Brazil', 'Guyana', 'Paraguay', 'Peru',
       'Suriname', 'Uruguay', 'Venezuela', 'Ecuador', 'Burkina Faso',
       "Cote d'Ivoire", 'Congo, Dem. Rep.', 'Congo, Rep.', 'Cape Verde',
       'Eritrea', 'Fiji', 'Guinea-Bissau', 'Equatorial Guinea',
       'Hong Kong, China', 'Kyrgyz Republic', 'South Korea', 'Lao',
       'North Macedonia', 'Myanmar', 'Papua New Guinea', 'North Korea',
       'Palestine', 'Russia', 'Slovak Republic', 'Eswatini',
       'Timor-Leste', 'Taiwan', 'Aruba', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Andorra', 'Arab World',
       'American Samoa', 'Antigua and Barbuda', 'Bahamas, The', 'Bermuda',
       'Barbados', 'Brunei Darussalam', 'Central Europe and the Baltics',
       'Channel Islands', 'Cabo Verde', 'Caribbean small states',
       'Curacao', 'Cayman Islands', 'Dominica',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Egypt, Arab Rep.', 'Euro area',
       'European Union', 'Fragile and conflict affected situations',
       'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gibraltar',
       'Gambia, The', 'Grenada', 'Greenland', 'Guam', 'High income',
       'Hong Kong SAR, China', 'Heavily indebted poor countries (HIPC)',
       'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend',
       'IDA only', 'Isle of Man', 'Not classified', 'Iran, Islamic Rep.',
       'Kiribati', 'St. Kitts and Nevis', 'Korea, Rep.',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'St. Lucia', 'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Lower middle income', 'Low & middle income',
       'Late-demographic dividend', 'Macao SAR, China',
       'St. Martin (French part)', 'Monaco', 'Middle East & North Africa',
       'Marshall Islands', 'Middle income',
       'Middle East & North Africa (excluding high income)',
       'Northern Mariana Islands', 'North America', 'New Caledonia',
       'Nauru', 'OECD members', 'Other small states', 'Palau',
       'Pre-demographic dividend', 'Puerto Rico',
       "Korea, Dem. People's Rep.", 'West Bank and Gaza',
       'Pacific island small states', 'Post-demographic dividend',
       'French Polynesia', 'Russian Federation', 'South Asia',
       'Solomon Islands', 'San Marino',
       'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa',
       'Small states', 'Sao Tome and Principe',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Middle East & North Africa (IDA & IBRD countries)', 'Tonga',
       'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Tuvalu',
       'Upper middle income', 'St. Vincent and the Grenadines',
       'Venezuela, RB', 'British Virgin Islands', 'Virgin Islands (U.S.)',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.', 'Bahamas',
       'Brunei', 'Holy See'], dtype=object)

In [4]:
top_countries = ['Denmark','Finland','Burundi','Central African Republic','Comoros','South Sudan', 'Rwanda',
       'Afghanistan', 'Togo', 'Tanzania', 'Iceland', 'Netherlands', 'Norway',
       'Switzerland', 'Canada','Haiti', 'Australia',
       'New Zealand', 'Sweden', 'Yemen']

In [5]:
arabian_peninsula = ['United Arab Emirates', 'Oman', 'Qatar', 'Saudi Arabia', 'Bahrain', 'Kuwait', 'Yemen']

In [6]:
filtered_df_top = df[df['country'].isin(top_countries)]
filtered_df_top

,Unnamed: 0,country,continent,year,happiness,democracy_score,index_of_functioning_goverment,code,population,women_in_parliament_%,daily_income_usd,income_inequlity
4,4,Burundi,Africa,2005,NaN,NaN,NaN,BDI,7364857.0,31.70,1.49,34.4
6,6,Central African Republic,Africa,2005,NaN,NaN,NaN,CAF,4038380.0,NaN,2.12,57.2
15,15,Comoros,Africa,2005,NaN,NaN,NaN,COM,611625.0,2.42,7.50,54.8
17,17,South Sudan,Africa,2005,NaN,NaN,NaN,SSD,7535931.0,NaN,2.65,46.7
29,29,Rwanda,Africa,2005,NaN,NaN,NaN,RWA,8840220.0,47.10,2.19,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...
48576,48576,South Sudan,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,1.24,46.8
48581,48581,Sweden,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,55.40,31.3
48586,48586,Togo,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,2.93,44.5
48597,48597,Tanzania,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,2.77,42.0
48608,48608,Yemen,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,2.14,38.5

In [7]:
filtered_df_top.to_csv('top_countries.csv')

In [12]:
filtered_df_arab = df[df['country'].isin(arabian_peninsula)]
filtered_df_arab

,Unnamed: 0,country,continent,year,happiness,democracy_score,index_of_functioning_goverment,code,population,women_in_parliament_%,daily_income_usd,income_inequlity
43,43,Bahrain,Asia,2005,NaN,NaN,NaN,BHR,889157.0,NaN,54.70,35.5
62,62,Oman,Asia,2005,NaN,NaN,NaN,OMN,2511254.0,8.47,23.40,36.3
65,65,Qatar,Asia,2005,NaN,NaN,NaN,QAT,865410.0,0.00,58.40,34.3
66,66,Saudi Arabia,Asia,2005,70.8,NaN,NaN,SAU,23816175.0,0.00,41.30,36.0
72,72,Kuwait,Asia,2005,NaN,NaN,NaN,KWT,2270196.0,1.03,82.00,34.6
...,...,...,...,...,...,...,...,...,...,...,...,...
48512,48512,Kuwait,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,48.90,36.1
48550,48550,Oman,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,19.30,37.9
48562,48562,Qatar,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,59.50,34.2
48566,48566,Saudi Arabia,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,48.80,36.8
48608,48608,Yemen,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,2.14,38.5

In [10]:
filtered_df_arab.to_csv('arab_countries_clean.csv')

In [13]:
filtered_df_arab.isnull().sum()

Unnamed: 0                           0
country                              0
continent                         1449
year                                 0
happiness                         1489
democracy_score                   1449
index_of_functioning_goverment    1449
code                              1188
population                        1191
women_in_parliament_%             1362
daily_income_usd                     0
income_inequlity                     0
dtype: int64

In [9]:
filtered_df_arab = df.dropna()
filtered_df_arab

,Unnamed: 0,country,continent,year,happiness,democracy_score,index_of_functioning_goverment,code,population,women_in_parliament_%,daily_income_usd,income_inequlity
150,150,Benin,Africa,2006,33.3,61.6,64.3,BEN,8216893.0,9.94,2.56,40.3
151,151,Botswana,Africa,2006,47.4,76.0,78.6,BWA,1835911.0,9.84,9.91,62.3
153,153,Cameroon,Africa,2006,38.5,32.7,32.1,CMR,18223677.0,13.70,3.95,42.7
155,155,Madagascar,Africa,2006,39.8,58.2,57.1,MDG,18880265.0,6.97,1.84,40.4
161,161,Ghana,Africa,2006,45.4,53.5,46.4,GHA,22379057.0,9.39,4.64,42.7
...,...,...,...,...,...,...,...,...,...,...,...,...
2213,2213,Ecuador,South America,2019,59.3,63.3,53.6,ECU,17373657.0,38.00,13.80,45.7
2215,2215,Paraguay,South America,2019,56.9,62.4,57.1,PRY,7044639.0,16.80,18.00,45.6
2216,2216,Peru,South America,2019,58.0,66.0,50.0,PER,32510462.0,30.00,13.90,41.5
2217,2217,Turkmenistan,Asia,2019,51.2,17.2,7.9,TKM,5942094.0,25.00,10.80,44.7
2218,2218,Portugal,Europe,2019,59.1,80.3,78.6,PRT,10286263.0,38.70,31.00,33.5

,Unnamed: 0,country,continent,year,happiness,democracy_score,index_of_functioning_goverment,code,population,women_in_parliament_%,daily_income_usd,income_inequlity
150,150,Benin,Africa,2006,33.3,61.6,64.3,BEN,8216893.0,9.94,2.56,40.3
151,151,Botswana,Africa,2006,47.4,76.0,78.6,BWA,1835911.0,9.84,9.91,62.3
153,153,Cameroon,Africa,2006,38.5,32.7,32.1,CMR,18223677.0,13.70,3.95,42.7
155,155,Madagascar,Africa,2006,39.8,58.2,57.1,MDG,18880265.0,6.97,1.84,40.4
161,161,Ghana,Africa,2006,45.4,53.5,46.4,GHA,22379057.0,9.39,4.64,42.7
...,...,...,...,...,...,...,...,...,...,...,...,...
2213,2213,Ecuador,South America,2019,59.3,63.3,53.6,ECU,17373657.0,38.00,13.80,45.7
2215,2215,Paraguay,South America,2019,56.9,62.4,57.1,PRY,7044639.0,16.80,18.00,45.6
2216,2216,Peru,South America,2019,58.0,66.0,50.0,PER,32510462.0,30.00,13.90,41.5
2217,2217,Turkmenistan,Asia,2019,51.2,17.2,7.9,TKM,5942094.0,25.00,10.80,44.7
2218,2218,Portugal,Europe,2019,59.1,80.3,78.6,PRT,10286263.0,38.70,31.00,33.5

In [17]:
dfarab_clean.to_csv('arab_clean_data.csv')

In [ ]:
dfAf = df[df['continent'] == 'Africa']
dfAf

In [ ]:
dfAf['country'].unique()

In [ ]:
dfAf['country'].nunique()

In [14]:
dfarab = pd.read_csv('./arab_countries.csv')
dfarab

,Unnamed: 0.1,Unnamed: 0,country,continent,year,happiness,democracy_score,index_of_functioning_goverment,code,population,women_in_parliament_%,daily_income_usd,income_inequlity
0,43,43,Bahrain,Asia,2005,NaN,NaN,NaN,BHR,889157.0,NaN,54.70,35.5
1,62,62,Oman,Asia,2005,NaN,NaN,NaN,OMN,2511254.0,8.47,23.40,36.3
2,65,65,Qatar,Asia,2005,NaN,NaN,NaN,QAT,865410.0,0.00,58.40,34.3
3,66,66,Saudi Arabia,Asia,2005,70.8,NaN,NaN,SAU,23816175.0,0.00,41.30,36.0
4,72,72,Kuwait,Asia,2005,NaN,NaN,NaN,KWT,2270196.0,1.03,82.00,34.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,48512,48512,Kuwait,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,48.90,36.1
1550,48550,48550,Oman,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,19.30,37.9
1551,48562,48562,Qatar,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,59.50,34.2
1552,48566,48566,Saudi Arabia,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,48.80,36.8
1553,48608,48608,Yemen,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,2.14,38.5

In [16]:
dfarab_clean = dfarab.dropna()
dfarab_clean

,Unnamed: 0.1,Unnamed: 0,country,continent,year,happiness,democracy_score,index_of_functioning_goverment,code,population,women_in_parliament_%,daily_income_usd,income_inequlity
7,185,185,Kuwait,Asia,2006,60.8,30.9,41.4,KWT,2373661.0,1.54,84.3,34.6
13,248,248,United Arab Emirates,Asia,2006,67.3,24.2,30.7,ARE,5300172.0,5.00,187.0,31.8
18,363,363,Saudi Arabia,Asia,2007,72.7,19.1,26.1,SAU,25184589.0,11.30,45.5,35.8
25,509,509,Saudi Arabia,Asia,2008,68.1,19.0,28.6,SAU,25888535.0,17.00,49.7,35.6
28,629,629,Kuwait,Asia,2009,65.9,36.4,42.9,KWT,2821041.0,7.69,71.6,34.9
31,657,657,Qatar,Asia,2009,64.2,30.1,33.9,QAT,1654944.0,0.00,59.9,34.2
32,658,658,Saudi Arabia,Asia,2009,61.5,18.7,28.6,SAU,26630303.0,22.70,48.7,35.6
34,720,720,United Arab Emirates,Asia,2009,68.7,25.6,37.5,ARE,7917368.0,5.00,113.0,32.6
36,798,798,Kuwait,Asia,2010,68.0,38.8,42.9,KWT,2991884.0,5.61,65.9,35.1
38,806,806,Qatar,Asia,2010,68.5,30.9,32.1,QAT,1856329.0,0.00,63.9,34.1
39,807,807,Saudi Arabia,Asia,2010,63.1,18.4,28.6,SAU,27421468.0,22.00,48.3,35.6
40,816,816,United Arab Emirates,Asia,2010,71.0,25.2,35.7,ARE,8549998.0,5.00,76.1,32.7
43,944,944,Kuwait,Asia,2011,63.8,37.4,42.9,KWT,3168054.0,4.70,68.3,35.0
44,950,950,Oman,Asia,2011,68.5,32.6,39.3,OMN,3251102.0,9.58,23.9,36.2
45,953,953,Qatar,Asia,2011,65.9,31.8,39.3,QAT,2035862.0,0.00,66.0,34.0
46,954,954,Saudi Arabia,Asia,2011,67.0,17.7,28.6,SAU,28267591.0,21.30,51.5,35.5
48,1033,1033,United Arab Emirates,Asia,2011,71.2,25.8,35.7,ARE,8946778.0,5.00,80.6,32.6
49,1073,1073,Kuwait,Asia,2012,62.2,37.8,39.3,KWT,3348852.0,4.19,68.9,35.0
52,1101,1101,Qatar,Asia,2012,66.1,31.8,39.3,QAT,2196078.0,0.00,64.1,34.1
53,1102,1102,Saudi Arabia,Asia,2012,64.0,17.1,28.6,SAU,29154906.0,20.60,52.7,35.5
55,1163,1163,United Arab Emirates,Asia,2012,72.2,25.8,35.7,ARE,9141598.0,17.50,70.4,32.6
56,1221,1221,Kuwait,Asia,2013,64.8,37.8,39.3,KWT,3526382.0,80.00,66.1,35.1
60,1249,1249,Saudi Arabia,Asia,2013,65.0,18.2,28.6,SAU,30052058.0,19.90,52.5,35.5
62,1330,1330,United Arab Emirates,Asia,2013,66.2,25.2,35.7,ARE,9197908.0,19.20,73.6,32.5
66,1396,1396,Saudi Arabia,Asia,2014,62.8,18.2,28.6,SAU,30916603.0,19.90,52.9,35.5
67,1402,1402,Kuwait,Asia,2014,61.8,37.8,39.3,KWT,3690939.0,8.00,63.5,35.1
69,1459,1459,United Arab Emirates,Asia,2014,65.4,26.4,35.7,ARE,9214182.0,20.80,83.7,31.1
71,1537,1537,Kuwait,Asia,2015,61.5,38.5,42.9,KWT,3835588.0,3.40,61.5,35.2
73,1545,1545,Qatar,Asia,2015,63.7,31.8,39.3,QAT,2565708.0,3.60,63.9,34.1
74,1546,1546,Saudi Arabia,Asia,2015,63.5,19.3,28.6,SAU,31717676.0,19.90,53.7,35.4
76,1626,1626,United Arab Emirates,Asia,2015,65.7,27.5,35.7,ARE,9262896.0,22.50,69.1,29.7
77,1665,1665,Kuwait,Asia,2016,59.5,38.5,42.9,KWT,3956862.0,1.74,61.3,35.2
81,1693,1693,Saudi Arabia,Asia,2016,64.7,19.3,28.6,SAU,32443443.0,19.90,53.3,35.4
83,1755,1755,United Arab Emirates,Asia,2016,68.3,27.5,35.7,ARE,9360975.0,29.40,71.2,28.4
87,1840,1840,Saudi Arabia,Asia,2017,62.9,19.3,28.6,SAU,33101183.0,19.90,51.9,35.5
88,1846,1846,Kuwait,Asia,2017,60.9,38.5,42.9,KWT,4056102.0,2.37,57.0,35.4
90,1906,1906,United Arab Emirates,Asia,2017,70.4,26.9,35.7,ARE,9487206.0,36.30,78.7,27.2
95,1991,1991,Saudi Arabia,Asia,2018,63.6,19.3,28.6,SAU,33702757.0,19.90,52.2,35.5
97,2036,2036,United Arab Emirates,Asia,2018,66.0,27.6,39.3,ARE,9630966.0,43.10,84.1,26.0
98,2116,2116,Bahrain,Asia,2019,62.3,25.5,27.1,BHR,1641164.0,18.80,51.8,35.6
99,2129,2129,Kuwait,Asia,2019,61.0,39.3,42.9,KWT,4207077.0,4.62,55.9,35.4
102,2139,2139,Saudi Arabia,Asia,2019,64.1,19.3,28.6,SAU,34268529.0,19.90,51.5,35.5
104,2162,2162,United Arab Emirates,Asia,2019,67.9,27.6,39.3,ARE,9770526.0,50.00,94.0,26.0